*{
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background-color: rgb(255, 248, 144);
    margin: 20px;
    padding: 10px;
    text-align: center;
}
h2, 
h3{
    color: red;
}
.links{
    font-size: 24px;
    text-align: center;
}

img{
    margin: 0 250px;
    width: 250px;
    display: block;
    margin: 0 auto;  
}

p, li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: larger;
}
div{
    text-align: center;
}